.bg-graphics {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
 
.bg-graphics .bg-circle {
    position: fixed;
    width: 60vw;
    height: 106.6662vh;
    border-radius: 50%;
    opacity: 0.15;
    background-color: #ffffff;
}

.bg-graphics .bg-circle.circle-left {
    left: -20vw;
    top: 0vh;
}
.bg-graphics .bg-circle.circle-right {
    right: -20vw;
    top: 30vh;
}